# React / Node
node_modules/
dist/

# Python
venv/
__pycache__/
*.pyc

# Java / Spring Boot
target/

# Environment files / secrets
.env
.env.*
!.env.example

# Logs
*.log

# IDE files
.idea/
.vscode/
*.iml
.classpath
.project
.settings/